.banner{
    height:450px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19) !important;
}
.banner .img{
    height:394px;
    width:100%;
}
.owl-carousel .owl-stage-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
    line-height: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19) !important;
}