.bestseller-badge {
    position: absolute;
    top: 3px;
    border-radius: 10px;
    background-color: #EF364C;
    color: white;
    font-size: 0.7em;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    z-index: 40;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    overflow: hidden;
    height: 20px;
    -webkit-transition: all 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.48);
}
.bestseller-badge md-icon{
  font-size:10px;
  margin-top:5px;
}
#content {
  .list {
    text-align:center;
  }
}
.product-card {
  padding-top:20px;
  flex: 1;
    overflow: hidden;
    height: 100%;
    min-width: 250px !important;
    max-width: 450px !important;
}
.product-card {
  // width:350px;
  display:inline-block;
  background-color:#fff;
  position:relative;
  z-index:20;
  box-shadow:0 1px 11px 0 rgba(0,0,0,.1);
  border-radius:5px;
  margin-bottom:40px;
  padding-bottom: 30px;
  -webkit-transition: all 250ms ease-out;
	   -moz-transition: all 250ms ease-out;
	    -ms-transition: all 250ms ease-out;
	     -o-transition: all 250ms ease-out;
	        transition: all 250ms ease-out;
  span.tag {
    position:absolute;
    left:0px;
    width:28px;
    height:50px;
    line-height:40px;
    color:#fff;
    font-size:14px;
    &:after {
      content: '';
      position:absolute;
      left:0;
      z-index:-1;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 40px 40px 0 0;
      border-color: #ff57ee transparent transparent transparent
    }
    
  }
  h2 {
    width:100%;
    font-size:24px;
    font-weight:700;
    color:#323232;
    padding:0px;
    margin:30px 0 0 ;
    text-transform: uppercase;
    height: 1.2em;
    overflow: hidden;
    cursor: pointer;
  }
  h4 {
    width:100%;
    font-size:14px;
    padding:0px;
    margin:5px 0 0;
    font-weight:300;
    letter-spacing:4px;
    color:#bbb;
  }
  figure {
    width:100%;
    display:inline-block;
    margin:0px;
    padding:0px;
    img {
      display:inline-block;
      width:100%;
      margin:30px 0;
    }
  }
  .price {
    width:100%;
    margin-bottom:20px;
    font-size:36px;
    display:block;
    color:#feca16;
    font-weight:400;
  }
  
  &:hover {
      box-shadow:0 1px 11px 0 rgba(0,0,0,.3);
  }
  .variants{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    width:100%;
  }
  .variant{
      padding:10px;
      margin:4px;
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
      cursor: pointer;
  }
  .price del {
      font-size: 12px;
      color: #999;
  }
  .highlight{
    background-color: lightgrey;
  }
}

// md-card-content .name {
//     margin-bottom: 10px;
//     text-transform: uppercase;
//     height: 1.2em;
//     overflow: hidden;
// }
// md-card-content .price {
//     font-size: 1.5em;
//     color: #f55582;
//     margin: 10px 0;
// }
// md-card img {
//     border-radius: 2px 2px 0 0;
// }
// md-card-content {
//     text-align: center;
//     align-content: center;
// }
// md-card {
//     min-width: 250px!important;
//     max-width: 450px!important;
// }
// md-card-content .price del {
//     font-size: 12px;
//     color: #999;
// }
// .variants{
//     display: flex;
//     flex-wrap: nowrap;
//     justify-content: center;
//     flex-direction: row;
//     width:100%;
// }
// .variant{
//     padding:10px;
//     margin:4px;
//     box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
//     cursor: pointer;
// }
// .highlight{
//     background-color: lightgrey;
// }
// .product{
//     min-width: 250px !important;
//     max-width: 450px !important;
//     margin: 0 20px 20px 0;   
// }
// .product md-card-content{
//     text-align: center;
//     align-content: center;
// }
// .buttons-container{
//     display: flex;
//     justify-content: center;
//     flex-direction: row;
// }