<div fxLayout="column" fxLayoutAlign="center center">
  <h2><span class="mute">My Account</span> > Customer Orders</h2>
</div>
<div [ngBusy]="busy"></div>
<md-tab-group>
  <md-tab label="Pending" *ngIf="pending">
    <order-content [orders]="pending" (changePaymentStatus)="changePaymentStatus($event)" (changeOrderStatus)="changeOrderStatus($event)"
      (cancelOrder)="cancelOrder($event)"></order-content>
  </md-tab>
  <md-tab label="Shipped" *ngIf="shipped">
    <order-content [orders]="shipped" (changePaymentStatus)="changePaymentStatus($event)" (changeOrderStatus)="changeOrderStatus($event)"
      (cancelOrder)="cancelOrder($event)"></order-content>
  </md-tab>
  <md-tab label="Cancelled" *ngIf="cancelled">
    <order-content [orders]="cancelled" (changePaymentStatus)="changePaymentStatus($event)" (changeOrderStatus)="changeOrderStatus($event)"
      (cancelOrder)="cancelOrder($event)"></order-content>
  </md-tab>
  <md-tab label="Delivered" *ngIf="delivered">
    <order-content [orders]="delivered" (changePaymentStatus)="changePaymentStatus($event)" (changeOrderStatus)="changeOrderStatus($event)"
      (cancelOrder)="cancelOrder($event)"></order-content>
  </md-tab>
</md-tab-group>