<div class="app-content row">
  <md-card class="item">
    <button md-button md-icon-button (click)="dialogRef.close()" class="close"><md-icon>close</md-icon></button>
    <md-tab-group class="row">
      <md-tab label="Login">
        <div class="col center">
          <!-- remove in production -->
          <p class="muted">User account is <code>user@codenx.com</code> / <code>codenx</code><br/> Vendor account is <code>vendor@codenx.com</code>            / <code>codenx</code><br/> Admin account is <code>admin@codenx.com</code> / <code>codenx</code><br/>
          </p>
          <!-- /remove in production -->
          <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" autocomplete="false" novalidate>
            <section class="section" layout="column">
              <!--<div class="help-block" [hidden]="!errMessage">
                {{ errMessage }}
              </div>-->
              <div>
                <md-input-container style="width:100%">
                  <input mdInput type="email" name="email" formControlName="email" placeholder="Email" mongoose-error />
                </md-input-container>
                <div [hidden]="loginForm.get('email').valid || (loginForm.get('email').pristine && !submitted)">
                  <div *ngIf="loginForm.get('email').hasError('required')" class="error">
                    Email is required
                  </div>
                  <div *ngIf="loginForm.get('email').hasError('minlength')" class="error">
                    Email must be minimum 3 characters
                  </div>
                  <div *ngIf="loginForm.get('email').hasError('pattern')" class="error">
                    Email address is invalid.
                  </div>
                </div>
              </div>
              <div>
                <md-input-container>
                  <input mdInput type="password" name="password" formControlName="password" placeholder="Password" />
                </md-input-container>
                <div [hidden]="loginForm.get('password').valid || (loginForm.get('password').pristine && !submitted)">
                  <div *ngIf="loginForm.get('password').hasError('required')" class="error">
                    Password is required
                  </div>
                  <div *ngIf="loginForm.get('password').hasError('minlength')" class="error">
                    Password must be minimum 3 characters
                  </div>
                </div>
              </div>
              <p class="pointer"><a class="err" (click)="gotoForgotPassword(loginForm.value.email)">+ Forgot Password</a></p>
            </section>
            <submit-button [loading]="loading" [form]="loginForm" icon="lock" text="Secure Login"></submit-button>
          </form>
        </div>

      </md-tab>
      <md-tab label="Signup">
        <div class="col center">
          <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)" autocomplete="false" novalidate>
            <!--<div class="help-block" [hidden]="!signupErrMessage">
              {{ signupErrMessage }}
            </div>-->
            <div>
              <md-input-container style="width:100%">
                <input mdInput type="text" name="name" formControlName="name" placeholder="Name" />
              </md-input-container>
              <div [hidden]="signupForm.get('name').valid || (signupForm.get('name').pristine && !submitted)">
                <div *ngIf="signupForm.get('name').hasError('required')" class="error">
                  Name is required
                </div>
              </div>

            </div>
            <div>
              <md-input-container style="width:100%">
                <input mdInput type="email" name="email" formControlName="email" mongoose-error placeholder="Email" />
              </md-input-container>
              <div [hidden]="signupForm.get('email').valid || (signupForm.get('email').pristine && !submitted)">
                <div *ngIf="signupForm.get('email').hasError('required')" class="error">
                  Email is required
                </div>
                <div *ngIf="signupForm.get('email').hasError('minlength')" class="error">
                  Email must be minimum 3 characters
                </div>
                <div *ngIf="signupForm.get('email').hasError('pattern')" class="error">
                  Email address is invalid.
                </div>
              </div>
              <!--<div class="help-block" [hidden]="!errMessage" class="alert alert-danger">
                  {{ errMessage }}
                </div>-->
            </div>
            <div>
              <md-input-container>
                <input mdInput type="password" name="password" formControlName="password" placeholder="Password" />
              </md-input-container>
              <div [hidden]="signupForm.get('password').valid || (signupForm.get('password').pristine && !submitted)">
                <div *ngIf="signupForm.get('password').hasError('required')" class="error">
                  Password is required
                </div>
                <div *ngIf="signupForm.get('password').hasError('minlength')" class="error">
                  Password must be minimum 3 characters
                </div>
              </div>
            </div>
            <submit-button [loading]="loading" [form]="signupForm" icon="lock" text="Signup"></submit-button>
          </form>
        </div>
      </md-tab>
    </md-tab-group>
    <md-card-actions>
      <br/>
      <oauth-buttons classes="btn-block"></oauth-buttons>
    </md-card-actions>
  </md-card>
</div>