<div [formGroup]="adressForm">
    <md-input-container>
        <input type="text" mdInput formControlName="name" placeholder="Name">
        <small [hidden]="adressForm.get('name').valid" class="text-danger">
            Name is required
        </small>
    </md-input-container>
    <md-input-container>
        <input type="text" mdInput formControlName="address" placeholder="Address">
    </md-input-container>
    <md-input-container>
        <input type="text" mdInput formControlName="city" placeholder="City">
    </md-input-container>
    <md-input-container>
        <input type="text" mdInput formControlName="zip" placeholder="Zip">
    </md-input-container>
    <md-input-container>
        <input type="text" mdInput formControlName="state" placeholder="State">
    </md-input-container>
    <md-input-container>
        <input type="text" mdInput formControlName="phone" placeholder="Phone">
    </md-input-container>
</div>