<div [ngBusy]="busy"></div>
<div class="mt20" fxLayoutAlign="center center">
  <md-card fxFlex.gt-md="40" fxFlex.gt-sm="50" fxFlex="60" fxFlex.xs="90">
    <md-card-header fxLayout="row" fxLayoutAlign="center center">
      <h3>{{title}}</h3>
      <button md-button md-raised-button routerLink="/admin/coupons" class="close">Back<md-icon>keyboard_return</md-icon></button>
    </md-card-header>
    <md-card-content>
      <edit [item]="coupon" [fields]="fields" api="coupons" (save)="save($event)"></edit>
    </md-card-content>
  </md-card>
</div>