<div class="app-content row center">
  <div class="column center">
    <md-card>
      <md-toolbar class="md-accent">
        <h3 class="md-toolbar-tools">Forgot Password</h3>
      </md-toolbar>
      <br/>
      <form [formGroup]="form" (ngSubmit)="forgot(form.value)" autocomplete="false" novalidate>
        <section class="section" layout="column">
          <div class="help-block" [hidden]="!errMessage">
            {{ errMessage?.message }}
          </div>
          <div>
            <md-input-container>
              <input mdInput type="email" name="email" formControlName="email" placeholder="Email" autofocus />
            </md-input-container>
            <div [hidden]="form.get('email').valid || (form.get('email').pristine && !submitted)">
              <div *ngIf="form.get('email').hasError('required')" class="error">
                Email is required
              </div>
              <div *ngIf="form.get('email').hasError('minlength')" class="error">
                Email must be minimum 3 characters
              </div>
              <div *ngIf="form.get('email').hasError('pattern')" class="error">
                Email address is invalid.
              </div>
            </div>
            <submit-button [form]="form" text="Send Reset Password Email" icon="email"></submit-button>
          </div>
        </section>
      </form>
    </md-card>
  </div>
</div>