<div class="app-content row center">
  <div class="column center">
    <md-card class="cp">
      <md-toolbar class="md-accent">
        <h3 class="md-toolbar-tools">Reset Password</h3>
      </md-toolbar>
      <br/>
      <form [formGroup]="form" (ngSubmit)="reset(form.value)" autocomplete="false" novalidate>
        <section class="section" layout="column">
          <div class="help-block" [hidden]="!errMessage">
            {{ errMessage?.message }}
          </div>
          <div>
            <md-input-container>
              <input mdInput type="password" name="password" formControlName="password" placeholder="New Password" autofocus />
            </md-input-container>
            <br/>
            <md-input-container>
              <input mdInput type="password" name="passwordcf" formControlName="passwordcf" placeholder="Confirm Password" />
            </md-input-container>

            <submit-button [form]="form" text="Reset Password" icon="vpn_key"></submit-button>
          </div>
        </section>
      </form>
    </md-card>
  </div>
</div>