.search{
    margin: 0 20px;
    max-width:850px;
    min-width:100px;
}

/* ========== Page header (Top bar) ========== */

/* Search bar (header) */

.searchBarMain {
	display: flex;
	margin:0 20px;
	background: #fff;
    /* max-width: 680px; */
    border-radius: 2px;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.searchBarMain i.searchBarSearchIcon {
	height: 100%;
	line-height: 42px;
	float: left;
	width: 45px;
	text-align: center;
	color: rgba(68, 68, 68, 0.5);
}

.searchBarMain input#searchBarInput {
	height: 42px;
	flex:1;
    /* padding: 0; */
    /* margin: 0; */
    border: 0;
    box-sizing: border-box;
    background: transparent;
    /* width: calc(100% - 52px); */
	outline: none;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.76);
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.searchBarMain i.clearSearchBarField {
	position: relative;
    margin: 11px;
    /* right: 2px; */
    /* margin: 12px 0; */
    color: rgba(0, 0, 0, 0.84);
    font-size: 20px;
}

.searchBarMain i.clearSearchBarField:hover {
	cursor: pointer;
}