.description{
    margin-bottom: 10px;
}
md-card{
    margin: 2%;
}
.total{
    margin-bottom: 10px;
}
md-list-item{
    margin: 10px 10px 10px 0;
}
.cancel{
    border: 2px solid red;
}
img{
    cursor: pointer;
}