<md-card *ngIf="msg" style="background:greenyellow"> {{msg}}<br/> <span *ngIf="id"><b>Payment ID:</b> {{id}}</span></md-card>
<div fxLayout="column" fxLayoutAlign="center center">
  <h2><span class="mute">My Account</span> > My Orders</h2>
  <md-input-container>
    <input mdInput placeholder="Search orders" #f [disabled]="!data || data.length===0">
  </md-input-container>
</div>
<div [ngBusy]="busy"></div>
<div class="mt20" fxLayout="column" fxLayoutAlign="center center">
  <md-card *ngIf="data.length===0" class="noproduct" fxLayoutAlign="center center" fxLayout="column">
    <div>No order found</div>
  </md-card>
</div>
<md-card *ngFor="let order of data" [ngClass]="{cancel: order.status==='Cancellation Requested'}">
  <md-card-header fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start">
    <md-card-title>OrderNo: {{order.orderNo}}</md-card-title>
    <md-card-subtitle>{{order.created_at | date}}</md-card-subtitle>
    <div class="total">Order Total <b>{{order.amount.total / order.amount.exchange_rate | currency : Settings.currency.code : true}}</b></div>
    <div *ngIf="cancellable(order.status)">
      <button class="close" md-button md-raised-button (click)="cancelOrder(order)">Cancel Order<md-icon>keyboard_return</md-icon></button>
    </div>
  </md-card-header>
  <md-card-content fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start">
    <div class="description" fxFlex>
      <md-list>
        <md-list-item *ngFor="let i of order.items | searchpipe:f.value" fxLayout="row">
          <img md-list-avatar src="{{i.url}}" onError="this.src='/assets/img/product-placeholder.png'" style="height:75px;" routerLink="/product/{{i.description}}/{{i.sku}}">
          <div fxFlexOffset="2">
            <div md-line><b><a class="product-link" routerLink="/product/{{i.description}}/{{i.sku}}">{{i.name}}</a></b></div>
            <div md-line><b>Amount:</b> {{i.price / order.amount.exchange_rate| currency : Settings.currency.code : true}} x <b>{{i.quantity}}</b>
            </div>
            <!--<div md-line><b>Status:</b> {{i.status}} </div>-->
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div class="address" fxFlex="30" fxFlex.xs="100">
      <div md-line><b>Address</b></div>
      <hr/>
      <div md-line class="mute">
        <b>{{order.address.recipient_name}}</b>
        <br/>{{order.address.line1}}
        <br/> {{order.address.city}}
        <br/> {{order.address.country_code}}
        <br/> {{order.address.postal_code}}
      </div>
      <br/>
      <hr/>
      <div md-line class="mute">
        Order Status: {{order.status}}
      </div>
    </div>
  </md-card-content>
</md-card>
<div style="text-align:center" *ngIf="!meta.busy">
  <button md-button md-raised-button (click)="scroll()" *ngIf="!meta.end"><md-icon>arrow_downwards</md-icon>Load More...</button>
</div>