<div class="row" fxLayout="row" fxLayout.xs="column">
  <div class="featuredNewsBanner" style="background-image: url('assets/fashion/pexels-photo-298863.jpeg');">
    <div class="featuredNewsSubcontainer">
      <a routerLink="/shop">
        <h1>Explore our new arrivals</h1>
      </a>
      <p>By Swadesh Behera - Store Manager</p>
      <div class="bannerFeaturedButton">
        <a routerLink="/shop" class="featuredLink">
          <div>Read more</div>
        </a>
      </div>
    </div>
    <div class="featuredBannerColorOverlay"></div>
  </div>
  <div class="saleNewsBanner" style="background-image: url('assets/fashion/pexels-photo-247295.jpeg');">
    <div class="featuredNewsSubcontainer">
      <a routerLink="/shop">
        <h1>Its fashion sale 2017</h1>
      </a>
      <p></p>
      <div class="bannerFeaturedButton">

      </div>
    </div>
    <div class="saleBannerColorOverlay"></div>
  </div>
</div>