.flex {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.row{
  flex-direction: row;
}
.space-between{
  justify-content: space-between;
}
.pull-left{
  align-self: flex-start;
}
.pull-right{
  align-self: flex-end;
}
.mat-input-container .mat-icon{
  cursor: pointer;
}