<form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)" autocomplete="false" novalidate>
  <div class="help-block" [hidden]="!err">
    {{ err }}
  </div>
  <div *ngFor="let i of cols" [ngSwitch]="i.dataType">
    <div *ngSwitchCase="'boolean'" class="flex">
      <md-slide-toggle [formControlName]="i.field">{{i.heading | labelcase}}</md-slide-toggle>
    </div>
    <div *ngSwitchCase="'hidden'" class="flex">
      <input type="hidden" [formControlName]="i.field" [placeholder]="i.heading | labelcase" />
    </div>
    <div *ngSwitchCase="'date'" class="flex">
      <md-input-container>
        <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" [formControlName]="i.field" autofocus>
        <button type="button" mdSuffix [mdDatepickerToggle]="picker"></button>
      </md-input-container>
      <md-datepicker #picker></md-datepicker>
    </div>
    <div *ngSwitchCase="'select'" class="flex">
      <md-select [formControlName]="i.field" [placeholder]="i.heading" *ngIf="i.type !=='obj'" autofocus>
        <md-option *ngFor="let o of i.options" [value]="o">
          {{ o }}
        </md-option>
      </md-select>
      <md-select [formControlName]="i.field" [placeholder]="i.heading" *ngIf="i.type==='obj' " autofocus>
        <md-option *ngFor="let o of i.options" [value]="o.val">
          {{ o.name }}
        </md-option>
      </md-select>

    </div>
    <div *ngSwitchCase="'array'" class="flex">
      <div *ngIf="item['_id']">
        {{i.heading}}
        <div *ngIf="!i.disabled">
          <md-checkbox *ngFor="let user of remainingItems[i.field]" (change)="assign($event,i.field, user, checked, i.options)" autofocus>
            {{user.name}}
          </md-checkbox>
        </div>

        <input [formControlName]="i.field" [(ngModel)]="item[i.field]" type="hidden" [placeholder]="i.heading | labelcase " autofocus
        />
        <md-chip-list class="mat-chip-list-stacked ">
          <md-chip *ngFor="let chip of item[i.field]" selected="true " color="primary" (click)="remove(chip, i.field,
          i.disabled) ">
            {{chip.name}}
          </md-chip>
        </md-chip-list>
      </div>
    </div>
    <div *ngSwitchCase="'number'" class="flex">
      <md-input-container>
        <input mdInput type="text" [formControlName]="i.field" [name]="i.field" [placeholder]="i.heading | labelcase" autofocus />
      </md-input-container>
      <div *ngIf="editForm.get(i.field).hasError('required') && editForm.get(i.field).touched">
        {{i.heading | labelcase}} is required
      </div>
      <div *ngIf="editForm.get(i.field).hasError('pattern') && editForm.get(i.field).touched">
        {{i.heading | labelcase}} must be a number.
      </div>
    </div>
    <div *ngSwitchCase="'image'" class="flex ">
      <md-input-container>
        <input mdInput type="text" [formControlName]="i.field" [name]="i.field " [placeholder]="i.heading | labelcase" autofocus
        />
        <md-icon mdPrefix (click)="chooseImage(i.field)" class="pointer">image</md-icon>
      </md-input-container>
    </div>
    <div *ngSwitchDefault class="flex">
      <md-input-container>
        <input mdInput type="text " [formControlName]="i.field" [name]="i.field" [placeholder]="i.heading | labelcase" autofocus
        />
      </md-input-container>
      <div *ngIf="editForm.get(i.field).hasError( 'required') && editForm.get(i.field).touched">
        {{i.heading | labelcase}} is required
      </div>
    </div>
  </div>
  <br/>
  <div fxLayoutAlign="center center">
    <submit-button [loading]="loading" [form]="editForm" icon="save"></submit-button>
  </div>
</form>