<div class="app-content cp-container">
  <md-card class="cp">
    <md-toolbar class="md-accent">
      <h3 class="md-toolbar-tools">Change Password</h3>
    </md-toolbar>
    <br/>
    <form #f="ngForm" (ngSubmit)="cp(f.value)" novalidate autocomplete="off" fxLayout="column" fxLayoutAlign="center stretch">
      <md-input-container>
        <input mdInput type="password" #oldPassword="ngModel" name="oldPassword" ngModel required minlength="3" placeholder="Current Password"
          autofocus />
      </md-input-container>
      <div *ngIf="oldPassword.errors && (oldPassword.dirty || oldPassword.touched)" class="alert">
        <div [hidden]="!oldPassword.errors.required">
          Password is required
        </div>
        <div [hidden]="!oldPassword.errors.minlength">
          Password must be at least 3 characters long.
        </div>
      </div>
      <br/>
      <md-input-container>
        <input mdInput type="password" #newPassword="ngModel" name="newPassword" ngModel required minlength="3" placeholder="New Password"
        />
      </md-input-container>
      <div *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)" class="alert">
        <div [hidden]="!newPassword.errors.required">
          New Password is required
        </div>
        <div [hidden]="!newPassword.errors.minlength">
          Password must be at least 3 characters long.
        </div>
      </div>
      <submit-button [loading]="loading" [form]="f" icon="lock" text="Change Password"></submit-button>
    </form>
  </md-card>
</div>