.mat-fab{
  position:absolute !important;
  bottom:20px;
  right:20px;
}
.mat-icon-button .mat-icon {
    font-size: 24px;
}
.mat-icon-button .mat-icon.filtericon {
    padding-top:20px;
}
.sort .mat-icon {
    font-size: 18px;
}

.floating-fab {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}