<div class="app-content">
  <md-card fxLayout="column" fxLayoutAlign="center center">
    <p class="text-center">
      <img src="/assets/img/angular.png" alt="Not Found">
    </p>
    <div>
      <h3>We are sorry - this page is not here anymore</h3>
      <h4 class="text-muted">Error 404 - Page not found</h4>

      <p class="text-center">To continue please use the <strong>Search form</strong> or <strong>Menu</strong> above.</p>
    </div>
    <hr/>
    <button routerLink="/" md-raised-button class="mat-raised mat-primary"> <i class="material-icons">home</i> Go to Homepage</button>
  </md-card>
</div>